#footer {
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: $footer-color;
    position: absolute;
    bottom: 0;
    align-items: center;
    //margin: 6rem 0 0 0;
    a {
        color: white;
    }
    p {
        color: white;
    }
}

@media screen and (min-width: 768px) {
    #footer {
        display: flex;
        width: 100%;
        height: 5vh;
        position: absolute;
        bottom: 0;

        span {
            color: $text-color;
            font-size: calc(#{$item-h} - 1vh);
        }
    }
}
