#footer {
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: $footer-color;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    align-items: center;
    margin: 6rem 0 0 0;
    a {
        color: white;
    }
    p {
        color: white;
    }

    span {
        &.tech-used {
            margin-left: 1vw;
            img {
                width: calc(#{$item-w} + 4vw);
                height: calc(#{$item-h} + 4vh);
                object-fit: contain;
            }
        }
        color: $text-color;
        font-size: calc(#{$item-h} - 1vh);
        &.bgc {
            background-color: white;
            border-radius: 1px;
        }
    }

    .footer-icon {
        object-fit: contain;
        width: calc(#{$item-w} + 4vw);
        height: calc(#{$item-h} + 4vh);
        color: white;
        float: right;
        margin: 0 1.5vw 0 1.5vw;
    }
}

@media screen and (min-width: 768px) {
    #footer {
        display: flex;
        width: 100%;
        height: 5vh;
        background-color: $footer-color;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        align-items: center;

        span {
            &.tech-used {
                margin-left: 1.5vw;
                img {
                    width: $item-w;
                    height: $item-h;
                    object-fit: contain;
                }
            }
            color: $text-color;
            font-size: calc(#{$item-h} - 1vh);
        }

        .footer-icon {
            object-fit: contain;
            width: $item-w;
            height: $item-h;
            color: white;
            float: right;
            margin: 0 .5vw 0 .5vw;
        }
    }
}
