/*******************************************************************************
 * Variables
*******************************************************************************/
//  Business card scheme - JN Woodcrafts Business card image
//  bcard = Business card
//  bg = Background
//  d = Dominant
//  t = Text

$bcard-bg-d: #5c4c4c;
$bcard-bg: #604c4c;
$bcard-t-d: #cfb083;
$bcard-t: #d1b284;
$bcard-t-d: #FFEFA8;

$bcard-1: #d1b284;
$bcard-2: #5c4c4c;
$bcard-3: #8f7b63;
$bcard-4: #7b6b5c;
$bcard-5: #a48c6c;
$bcard-6: #9c8c6c;
$bcard-7: #685d52;
$bcard-8: #746454;
$bcard-9: #64544c;
$bcard-10: #746c54;

/******************************************************************************/

//  Boostrap colors
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$dark: #343a40;

/******************************************************************************/
//  Misc colors
$bg-color: #222831;
$menu-color: #30475e;
$text-color: #ececec;
$hover-color: #f2a365;
$footer-color: #343a40;
// From 42SV info
$background-color: #222831;
$card-container: #363636;

//  Shadows
$box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$img-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.34);
/******************************************************************************/

//  Spacing
$header-margin: 1rem 0 2.5rem 0;
$padding-b: 2.5vh;
$buffy: 6rem;
$img-c: 23rem;
$img-c-margin: 3rem 0 3.25rem 0;


//  Font sizes
$xs-p-size: 1rem;
//$p-size: 1.32rem;
$p-size: 1rem;

$xs-h1-size: 2rem;
$h1-size: 3rem;

$xs-h3-size: 1.5rem;
$h3-size: 2rem;

$xs-sub-size: .75rem;
$sub-size: .9rem;


/******************************************************************************/
//  Footer
$item-w: 2.5vw;
$item-h: 2.5vh;
